<!--begin::Mango  Type-->
<div class="post d-flex flex-column-fluid" id="kt_mango_type">
  <!--begin::Container-->
  <div id="kt_content_container" class="container-xxl">
    <!--begin::Card-->
    <div class="card">
      <!--begin::Card header-->
      <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
          <div class="d-flex align-items-center position-relative my-1">
            <span
              class="svg-icon svg-icon-1 position-absolute ms-6"
              [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
              [cacheSVG]="true"
            ></span>
            <input
              type="search"
              class="form-control form-control-solid w-250px ps-14"
              placeholder="Search mangoType"
              (input)="onSearchChange($event)"
            />
          </div>
        </div>
        <!--end::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
          <div class="d-flex justify-content-end" data-kt-user-mangoType-toolbar="base">
            <!--begin::Add mango type button-->
            <button type="button" class="btn btn-primary" (click)="create()">
              <span
                class="svg-icon svg-icon-2"
                [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
                [cacheSVG]="true"
              ></span>
              Add Mango Types
            </button>
          </div>
        </div>
        <!--end::Card toolbar-->
      </div>
      <!--end::Card header-->

      <!--begin::Card body-->
      <div class="card-body py-4">
        <div class="table-responsive">
          <table class="table table-striped table-hover align-middle fs-6 gy-5" id="kt_category">
            <thead>
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th>Image</th>
                  <th (click)="onSort('name')">
                    Name
                    <span *ngIf="filter.sortBy === 'name'">
                      {{ filter.sortOrder === 'asc' ? '▲' : '▼' }}
                    </span>
                  </th>
                  <th (click)="onSort('description')">Description
                    <span *ngIf="filter.sortBy === 'description'">
                      {{ filter.sortOrder === 'asc' ? '▲' : '▼' }}
                    </span>
                  </th>
                  <th (click)="onSort('region')">Region
                    <span *ngIf="filter.sortBy === 'region'">
                      {{ filter.sortOrder === 'asc' ? '▲' : '▼' }}
                    </span>
                  </th>
                  <th (click)="onSort('mangoGrade')">Grade
                    <span *ngIf="filter.sortBy === 'mangoGrade'">
                      {{ filter.sortOrder === 'asc' ? '▲' : '▼' }}
                    </span>
                  </th>
                  <th (click)="onSort('sweetnessLevel')">Sweetness
                    <span *ngIf="filter.sortBy === 'sweetnessLevel'">
                      {{ filter.sortOrder === 'asc' ? '▲' : '▼' }}
                    </span>
                  </th>
                  <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold">
              <tr *ngFor="let mangoType of mangoTypes">
                <td class="d-flex align-items-center">
                  <div class="overflow-hidden me-3">
                    <a href="javascript:" (click)="view(mangoType.id)">
                      <div class="symbol-label">
                        <img
                          [src]="getImagePath(mangoType.imagePath)"
                          alt="Mango Type Image"
                          class="rounded preview-image"
                        />
                      </div>
                    </a>
                  </div>
                </td>
                <td>
                  <a
                    href="javascript:"
                    (click)="view(mangoType.id)"
                    class="text-gray-800 text-hover-primary mb-1 d-block"
                  >
                    {{ mangoType.name }}
                  </a>
                </td>
                <td>{{ mangoType.description }}</td>
                <td>{{ mangoType.region }}</td>
                <td>{{ mangoType.mangoGrade }}</td>
                <td>{{ getSweetnessLabel(mangoType.sweetnessLevel) }}</td>
                <td class="text-center">
                  <a
                    href="javascript:void(0)"
                    class="btn btn-light btn-active-light-primary btn-sm"
                    data-kt-menu-trigger="click"
                    data-kt-menu-placement="bottom-end"
                  >
                    Actions
                    <span
                      class="svg-icon svg-icon-5 m-0"
                      [inlineSVG]="'./assets/media/icons/duotune/arrows/arr072.svg'"
                      [cacheSVG]="true"
                    ></span>
                  </a>
                  <div
                    class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4"
                    data-kt-menu="true"
                  >
                    <div class="menu-item px-3">
                      <a class="menu-link px-3" (click)="edit(mangoType.id)">Edit</a>
                    </div>
                    <div class="menu-item px-3">
                      <a class="menu-link px-3" (click)="view(mangoType.id)">View</a>
                    </div>
                    <div class="menu-item px-3">
                      <a class="menu-link px-3" (click)="delete(mangoType.id)">Delete</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <app-pagination
          [collectionSize]="totalCount"
          [pageSize]="filter.pageSize"
          [pageNumber]="filter.pageNumber"
          (pageChange)="pageChanged($event)"
          (pageSizeChange)="pageSizeChanged($event)"
        ></app-pagination>
      </div>
      <!--end::Card body-->

      <!--begin::No data component-->
      <div class="card-body">
        <ng-container *ngIf="!mangoTypes.length && !isLoading">
          <app-data-loading-empty></app-data-loading-empty>
        </ng-container>
      </div>
      <!--end::No data component-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Post-->
