<div class="modal-content">
  <!-- Modal Header -->
  <div class="modal-header">
    <h5 class="modal-title whiteFontColor">Courier Area Map Details</h5>
  </div>

  <!-- Modal Body with Overlay Spinner -->
  <div class="modal-body overlay overlay-block cursor-default">
    <ng-container *ngIf="isLoading">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="courierAreaMapDto">
      <div class="row mb-3">
        <label class="col-4 fw-bold text-start">Area:</label>
        <div class="col-8">
          <span class="form-text text-wrap">{{ courierAreaMapDto.area }}</span>
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-4 fw-bold text-start">Courier Station:</label>
        <div class="col-8">
          <span class="form-text text-wrap">{{ courierAreaMapDto.courierStationName || '—' }}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-light d-flex align-items-center" (click)="modal.dismiss()">
      <i class="bi bi-x-circle me-2 fs-5 text-danger"></i>
      Close
    </button>
  </div>
</div>
