<div class="modal-content">
  <div class="modal-header">
    <h2 class="modal-title">{{ title }}</h2>
    <button type="button" class="btn-close" (click)="cancel()"></button>
  </div>
  <div class="modal-body py-6 px-lg-8">
    <form [formGroup]="form">
      <div class="row g-4">
        <div class="col-12">
          <label class="form-label fw-semibold required">Address Line</label>
          <input type="text" class="form-control form-control-solid" formControlName="addressLine"
            [class.is-invalid]="isInvalid('addressLine')" />
          <div *ngIf="isInvalid('addressLine')" class="text-danger fs-7 mt-1">Address line is required.</div>
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label fw-semibold required">City</label>
          <input type="text" class="form-control form-control-solid" formControlName="city"
            [class.is-invalid]="isInvalid('city')" />
          <div *ngIf="isInvalid('city')" class="text-danger fs-7 mt-1">City is required.</div>
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label fw-semibold">Area</label>
          <input type="text" class="form-control form-control-solid" formControlName="area" />
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label fw-semibold">Postal Code</label>
          <input type="text" class="form-control form-control-solid" formControlName="postalCode" />
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label fw-semibold required">Address Type</label>
          <select class="form-select form-select-solid" formControlName="addressType"
            [class.is-invalid]="isInvalid('addressType')">
            <option [value]="0">-- Select Type --</option>
            <option *ngFor="let opt of addressTypeOptions" [value]="opt.id">{{ opt.label }}</option>
          </select>
          <div *ngIf="isInvalid('addressType')" class="text-danger fs-7 mt-1">Address type is required.</div>
        </div>
        <div class="col-12">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="isPrimary" formControlName="isPrimary" />
            <label class="form-check-label fw-semibold" for="isPrimary">Set as Primary Address</label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm me-3" (click)="cancel()" [disabled]="isLoading">Cancel</button>
    <button type="button" class="btn btn-primary btn-sm" (click)="save()" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>Save
    </button>
  </div>
</div>
