<div class="container">
    <div class="card">
        <div class="container pt-4 pb-4">
            <div class="d-flex mt-2 mb-2">
                <h1>Bluetooth Thermal Printer</h1>
            </div>
            <div class="d-sm-flex justify-content-start">
                <div class="d-flex p-1">
                    <button class="btn btn-secondary" (click)="connectToPrinter()">Connect to Printer</button>
                </div>
                <div class="d-flex p-1">
                    <button class="btn btn-secondary" (click)="printSampleReceipt()">Print Sample Receipt</button>
                </div>
                <div class="d-flex p-1">
                    <button class="btn btn-secondary" (click)="disconnectPrinter()">Disconnect</button>
                </div>
            </div>
        </div>
    </div>
</div>
