<div
  class="d-flex flex-column flex-column-fluid text-center bgi-no-repeat bgi-size-contain bgi-position-y-bottom bgi-position-x-center p-10 py-lg-20"
  [style.background-image]="'url(./assets/media/illustrations/sketchy-1/14.png)'"
>
  <div class="pt-lg-10">
    <router-outlet></router-outlet>

    <div class="text-center mt-10">
      <button
        type="button"
        (click)="goToHomepage()"
        class="btn btn-lg btn-primary fw-bolder"
      >
        Go to homepage
      </button>
    </div>
  </div>
</div>
