<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4 whiteFontColor" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="expenseTypeDto">
                <ng-container *ngIf="expenseTypeDto.id" class="font-weight-bold"><strong>Edit
                        Expense Type</strong></ng-container>
                <ng-container *ngIf="!expenseTypeDto.id" class="font-weight-bold"><strong>Add
                        Expense Type</strong></ng-container>
            </ng-container>
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <ng-container *ngIf="isLoading">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="expenseTypeDto">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <!-- Expense Type Name -->
                <div class="form-group row">
                    <label class="col-3 col-form-label text-lg-right"><b>Title:</b></label>
                    <div class="col-9">
                        <input type="text" class="form-control form-control-lg form-control-solid" name="name"
                            placeholder="Expense Type" autocomplete="off"
                            [class.is-invalid]="isControlInvalid('name')"
                            [class.is-valid]="isControlValid('name')" formControlName="name" />
                        <div class="valid-feedback" *ngIf="isControlValid('name')">
                            Expense type was entered correct
                        </div>
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'name')">
                            Expense type is required
                        </div>
                        <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'name')">
                            Expense type should have at least 2 characters
                        </div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'name')">
                            Expense type should have maximum 50 characters
                        </div>
                    </div>
                </div>
                <!-- Expense Type Description -->
                <div class="form-group row mt-2">
                    <label class="col-3 col-form-label text-lg-right"><b>Description:</b></label>
                    <div class="col-9">
                        <input type="text" class="form-control form-control-lg form-control-solid"
                            name="description" placeholder="Expense Type Description" autocomplete="off"
                            formControlName="description" />
                    </div>
                </div>
                <!-- Is Active -->
                <div class="form-group row mt-2">
                    <label class="col-3 col-form-label text-lg-right"><b>Is Active:</b></label>
                    <div class="col-9 mt-4">
                        <input type="checkbox" formControlName="isActive" />
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-primary btn-elevate" (click)="save()" [disabled]="formGroup.invalid">Save</button>
    </div>
</div>