<!--begin:: Receipt-->
<div class="d-flex flex-column-fluid" id="printable">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-fluid">
        <div style="font-weight: bold; font-family: Helvetica;" id="print-section">
            <div style="text-align: center; margin-top: 20px; margin-bottom: 2px;">
                <div style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 15px; font-weight: bold;">KLUB ROYAL</div>
                <div style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 13px; font-weight: bold;">BOF Golf Club, Gazipur</div>
                <div style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 13px; font-weight: bold;">Phone# +880 1974567788</div>
                <hr>
                <div style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 14px; font-weight: bold;">--- P A I D&emsp;B I L L ---</div>
                <div style="text-align: left; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold;">Order#: {{printModel.orderId}}</div>
                <div style="text-align: left; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold;">Date: {{printModel.date}}</div>
                <!-- <div calss="text-start fs-7">Date: {{printModel.date}}<span class="px-1"></span>Time: {{printModel.time}}</div> -->
                <div style="text-align: left; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold;">Time: {{printModel.time}}</div>
                <!-- <div calss="text-end" style="font-size: x-small;">Time: 10:30AM</div> -->
                <hr>
            </div>           
            
            <!--begin::Card body-->
            <div style="padding-top: 2px; padding-bottom: 2px; width: 100%;">
                <div style="width: 100%;">
                    <!--begin::Item-->
                    <table style="width: 100%;">
                        <!--begin::Item head-->
                        <thead style="width: 100%;">
                            <!--begin::Item row-->
                            <tr style="width: 100%;">
                                <th style="text-align: left; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 40%;">Item Name</th>
                                <th style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">Qty</th>
                                <th style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">Price</th>
                                <th style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">T.Price</th>
                            </tr>
                            <!--end::Item row-->
                        </thead>
                        <!--end::Item head-->
                        <!--begin::Item body-->
                        <tbody style="width: 100%;">
                            <!--begin::Item row-->
                            <tr *ngFor="let item of printModel.orderDetails">                                
                                <td style="text-align: left; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 40%;">{{item.itemName}}</td>
                                <td style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">{{item.quantity}}</td>
                                <td style="text-align: center; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">{{item.price}}</td>
                                <td style="text-align: right; margin-top: 2px; margin-bottom: 2px; font-size: 11px; font-weight: bold; width: 20%;">{{item.totalPrice}}</td>                                
                            </tr>
                            <!--end::Item row-->
                        </tbody>
                        <!--end::Item body-->
                    </table>
                    <!--end::Item-->
                </div>
                <hr>
                <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 11px; font-weight: bold;">
                    GROSS TOTAL: {{printModel.subtotal}}
                    <!-- <div class="col-6 text-start"></div>
                    <div class="col-6 text-end"></div> -->
                </div> 
                <!-- <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 11px; font-weight: bold;">
                    VAT (5%): {{printModel.vatAmount}}
                </div> -->
                <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 11px; font-weight: bold;">
                    DISCOUNT: {{printModel.discountAmount}}
                    <!-- <div class="col-6 text-start">DISCOUNT:</div>
                    <div class="col-6 text-end">DISCOUNT: {{printModel.discountAmount}}</div> -->
                </div>
                <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 11px; font-weight: bold;">
                    NET PAYMENT: {{printModel.totalPayable}}
                    <!-- <div class="col-6 text-start">NET PAYMENT: {{printModel.totalPayable}}</div>
                    <div class="col-6 text-end">{{printModel.totalPayable}}</div> -->
                </div>
                <div *ngIf="printModel.paymentMethodType === 1">
                    <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 12px; font-weight: bold;">
                        CASH AMT: {{printModel.cashAmount}}
                        <!-- <div class="col-6 text-start">CHANGE AMT: {{printModel.changeAmount}}</div>
                                        <div class="col-6 text-end">{{printModel.changeAmount}}</div> -->
                    </div>
                    <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 12px; font-weight: bold;">
                        CHANGE AMT: {{printModel.changeAmount}}
                        <!-- <div class="col-6 text-start">CHANGE AMT: {{printModel.changeAmount}}</div>
                                                        <div class="col-6 text-end">{{printModel.changeAmount}}</div> -->
                    </div>
                </div>
                <div *ngIf="printModel.paymentMethodType === 2 || printModel.paymentMethodType === 3">
                    <div style="text-align: right; margin-top: 2px; margin-bottom: 2px; margin-right: 3px; font-size: 12px; font-weight: bold;">
                        TRANS ID: {{printModel.walletTransactionId}}
                        <!-- <div class="col-6 text-start">CHANGE AMT: {{printModel.changeAmount}}</div>
                                                        <div class="col-6 text-end">{{printModel.changeAmount}}</div> -->
                    </div>
                </div>
                <div style="text-align: center; margin-top: 6px; margin-bottom: 4px; font-size: 13px; font-weight: bold;">
                    PAID | {{printModel.paymentMethod}}
                </div>
                <hr>
                <div style="text-align: center; margin-top: 4px; margin-bottom: 4px; font-size: 11px; font-weight: bold;">
                    <div>Powered By: www.tagitsol.com</div>
                    <div>Phone: +880 1991589816</div>
                    <div style="margin-top: 4px;">Thank you for your purchase!</div>
                    <div>Visit us again!</div>
                </div>
            </div>
            <!--end::Card body-->            
        </div>
        <!--end::Card-->
        <div class="modal-footer" id="non-printable">
            <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('cancel')">Cancel</button>
            <!-- <button *ngIf="deviceService.isDesktop" type="button" class="btn btn-primary btn-sm" printSectionId="print-section" ngxPrint>Print</button> -->
            <button type="button" class="btn btn-primary btn-sm" (click)="onPrint()">Print</button>
        </div>
    </div>
    <!--end::Container-->    
</div>
<!--end::Receipt-->