<div class="card-header border-0 py-5" [ngClass]="'bg-' + chartColor">
    <h3 class="card-title fw-bolder text-white"></h3>
    <div class="card-toolbar">      
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body p-0">
    <div
      class="mixed-widget-2-chart card-rounded-bottom"
      [ngClass]="'bg-' + chartColor"
    ></div>
    <!-- begin::Stats -->
    <div class="card-p mt-n20 position-relative">
      <!-- begin::Row -->
      <div class="row g-0">
        <!-- begin::Col -->
        <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
          <p class="fw-bold fs-1"> Meetings & Events </p>
          <div class="text-wrap">The Golf Club offers versatile meeting facilities tailored for events of all sizes, including Conferences, Workshops, Training Sessions, Anniversaries, Gaye Holud Ceremonies, and Birthdays. Our elegant venue includes four modern halls and a spacious outdoor area, capable of hosting up to 1,500 guests, making the Golf Club a premier choice for large events in Dhaka. Additionally, our boardroom is ideal for business meetings and various other gatherings. Our dedicated team ensures the success of your event, providing attentive service and state-of-the-art audiovisual equipment.</div>
        </div>
        <!-- end::Col -->
      </div>
      <!-- end::Row -->      
    </div>
    <!-- end::Stats -->

    <!-- begin::Special Feature -->
    <div class="card-p mt-n20 position-relative">
        <!-- begin::Row -->
        <div class="row g-0">
          <!-- begin::Col -->
          <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
            <p class="fw-bold fs-1"> Special Features </p>            
            <div class="row g-0">
                <div class="col-4 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">No of Event Space
                    <p class="fw-bold text-dark">01</p>
                </div>
                <div class="col-4 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Capacity
                    <p class="fw-bold text-dark">1000</p>
                </div>
                <div class="col-4 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Book Your Event
                    <p class="fw-bold text-dark">012 3456 7890</p>
                </div>
            </div>
          </div>
          <!-- end::Col -->
        </div>
        <!-- end::Row -->      
      </div>
      <!-- end::Special Feature -->

    <!-- begin::Convention Hall -->
    <div class="card-p mt-n20 position-relative">
        <!-- begin::Row -->
        <div class="row g-0">
          <!-- begin::Col -->
          <div class="col-xxl-6 bg-light-primary px-6 py-8 rounded-2 mb-7">            
            <div class="row g-0">
                <p class="fw-bold fs-1"> Convention Hall </p>
                <div class="text-wrap">
                    Our modern indoor convention hall is fully equipped to host a wide range of events based on guest requirements, comfortably accommodating up to 1,000 guests at once.
                </div>
                <div class="py-8">
                    <p class="fw-bold fs-4">Features</p>
                    <ul>
                        <li>100 pax (With Buffet Stage Setup)</li>
                        <li>120 pax (Round Table) – Without stage</li>
                        <li>150 pax (Theater Setup)</li>
                        <li>50 pax (U Shape)</li>
                        <li>48 pax (Classroom Setup)</li>
                    </ul>
                </div>
            </div>
          </div>
          <!-- end::Col -->
          <!-- <div class="d-flex">
            <div class="vr"></div>
          </div> -->
           <!-- begin::Col -->
          <div class="col-xxl-6 bg-light-primary px-6 py-8 rounded-2 mb-7">            
            <div class="clearfix">
                <img cImg height="300" width="550" rounded src="assets/media/img/conventionhall/img-1.png"  />
              </div>
          </div>
          <!-- end::Col -->
        </div>
        <!-- end::Row -->      
      </div>
      <!-- end::Convention Hall -->
  </div>
  