<div class="card-header border-0 py-5" [ngClass]="'bg-' + chartColor">
    <h3 class="card-title fw-bolder text-white"></h3>
    <div class="card-toolbar">      
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body p-0">
    <div
      class="mixed-widget-2-chart card-rounded-bottom"
      [ngClass]="'bg-' + chartColor"
    ></div>
    <!-- begin::Stats -->
    <div class="card-p mt-n20 position-relative">
      <!-- begin::Row -->
      <div class="row g-0">
        <!-- begin::Col -->
        <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
          <p class="fw-bold fs-1"> Deluxe Room </p>
          <div class="text-wrap">The Deluxe Room offers a blend of comfort and style, featuring spacious interiors with modern amenities. Guests can enjoy a cozy bed, elegant furnishings, and a well-appointed bathroom. Perfect for both relaxation and business, the room provides a serene ambiance, making it an ideal choice for a comfortable stay.</div>
        </div>
        <!-- end::Col -->
      </div>
      <!-- end::Row --> 
      <div class="row g-0">
        <div class="bg-light-primary px-6 py-8 rounded-2 mb-7">            
            <div class="clearfix">
                <img cImg height="300" width="100%" rounded src="assets/media/img/deluxeroom/img-2.png" />
              </div>
          </div>
      </div> 
    </div>
    <!-- end::Stats -->

    <!-- begin::Special Feature -->
    <div class="card-p mt-n20 position-relative">
        <!-- begin::Row -->
        <div class="row g-0">
          <!-- begin::Col -->
          <div class="col bg-light-primary px-6 py-8 rounded-2 mb-7">
            <p class="fw-bold fs-1"> Special Features </p>            
            <div class="row g-0">
                <div class="col-2 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Room Type
                    <p class="fw-bold text-dark">Superior King</p>
                </div>
                <div class="col-2 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Room Size
                    <p class="fw-bold text-dark">322 Sft.</p>
                </div>
                <div class="col-2 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">No of Room
                    <p class="fw-bold text-dark">06</p>
                </div>
                <div class="col-2 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Occupancy
                    <p class="fw-bold text-dark">02 pax</p>
                </div>
                <div class="col-4 bg-light-primary px-6 py-4 rounded-2 mb-7 text-center">Room Rate
                    <p class="fw-bold text-dark">BDT 7,000++ (Superior King/Twin)</p>
                    <!-- <p class="fw-bold text-dark">BDT 11,500++ (Superior Top King/Top Twin)</p> -->
                </div>
            </div>
          </div>
          <!-- end::Col -->
        </div>
        <!-- end::Row -->      
      </div>
      <!-- end::Special Feature -->

    <!-- begin::Convention Hall -->
    <div class="card-p mt-n20 position-relative">
        <!-- begin::Row -->
        <div class="row g-0">
          <!-- begin::Col -->
          <div class="bg-light-primary px-6 py-8 rounded-2 mb-7">            
            <div class="row g-0">
                <p class="fw-bold fs-1"> Amenities of The Deluxe Room </p>
                <div class="py-2">
                    <ul>
                        <li>Air Condition</li>
                        <li>Free hi-speed internet</li>
                        <li>24hrs tea/coffee</li>
                        <li>Satellite TV channel</li>
                        <li>Breakfast for two person</li>
                    </ul>
                </div>
            </div>
          </div>
          <!-- end::Col -->          
        </div>
        <!-- end::Row -->      
      </div>
      <!-- end::Convention Hall -->
  </div>
  